//font-sizes
$text-xs: 12px;
$text-sm: 14px;
$text-base: 15px;
$text-lg: 18px;
$text-xl: 28px;

//font-weights
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;

//colors
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-lightgray: rgb(204, 208, 213);
$color-bg-gray: rgb(245, 246, 247);
$color-text-gray: rgb(96, 103, 112);
$color-text-gray-blue: rgb(141, 148, 158);
$color-green: rgb(0, 164, 0);
$color-green-hover: rgba(0, 164, 0, 0.8);
$color-green-active: rgba(0, 164, 0, 0.5);
$color-red: rgb(255, 0, 0);

//effects
$box-shadow: -5px 5px 20px -5px rgb(211, 211, 211);
